<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-xs-12">
            <h3 class="text-center">PRESTAMO DE LIBROS</h3><hr>
            <div class="form-group">
                <label for="">Nombre del Libro </label>
                <input type="text" class="form-control" ng-model="prestamo.nombreLibro" required >
            </div>
            <div class="form-group">
                <label for="">Autor </label>
                <select name="" id="" ng-model="prestamo.autor" class="form-control">
                    <option value="">SELECCIONE AUTOR</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Carrera </label>
                <select name="" id="" ng-model="prestamo.carreraLibro" class="form-control">
                    <option value="">SELECCIONE CARRERA</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Editorial </label>
                <select name="" id="" ng-model="prestamo.editorial" class="form-control">
                    <option value="">SELECCIONE EDITORIAL</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Edición </label>
                <select name="" id="" ng-model="prestamo.edicion" class="form-control">
                    <option value="">SELECCIONE EDICION</option>
                </select>
            </div>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox">
                <div class="col-md-1 ">
                    <img src="img/angular.png" class="img-libro">
                </div>
            </label>
        </div>
        <div class="col-md-2  ">
            <h4>titulo: <strong>ANGULARJS</strong></h4><hr>
            <p>Autor</p>
            <p>Editorial</p>
            <p>Edicion</p>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox">
                <div class="col-md-1  ">
                    <img src="img/angular.png" class="img-libro">
                </div>
            </label>
        </div>
        
        <div class="col-md-2 ">
            <h4>titulo: <strong>ANGULARJS</strong></h4><hr>
            <p>Autor</p>
            <p>Editorial</p>
            <p>Edicion</p>
        </div>   
    </div>
</div>
