<section class="wrapper style1">
    <div ng-cloak>
   <md-content class="md-padding">
   <h2>CONSULTAR EN SITIO</h2>
    <form>
        <md-input-container>
           <label for="">Matricula</label>
            <input type="text" ng-model="Matricula" required>
            <div ng-messages="Codigo.$error">
            <div ng-message="required">Falta Nombre</div>
          </div>
        </md-input-container>
        <md-input-container style="width:100%;">
           <label for="">Tipo de Identificacion</label>
            <md-select ng-model="TipoIfentificacion">
          <md-optgroup label="Identificacion">
           <md-option value="IFE/INE">iFE/INE</md-option>
           <md-option value="CREDENCIAL ESCOLAR" >CREDENCIAL DE LA ESCUELA</md-option>
           <md-option value="CREDENCIAL BIBLIOTECA" >CREDENCIAL DE LA BIBLIOTECA</md-option>
            
          </md-optgroup>
        </md-select>
        </md-input-container>
        <md-input-container>
           <label for="">Libro Consulta</label>
            <input type="text" ng-model="Libro" required>
            <div ng-messages="Libro.$error">
            <div ng-message="required">Falta Nombre</div>
          </div>
        </md-input-container>
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button type="submit" class="md-raised md-primary" ng-click="enviar($event)">Enviar</md-button>
            
        </section>
    </form>
  </md-content>
</div>
</section>