<footer class="mdl-mini-footer">
    <div class="mdl-logo" style="width: 100%">
        <center>INSTITUTO TECNOLOGICO DE ÁLVARO OBRGON </center>
               
    </div>
    <div class="mdl-mini-footer__link-list" style="width: 100%">
            <p style="width: 100%; text-align: center;">Teléfonos (55) 1285-6518</p>
        </div>
        <div class="mdl-mini-footer__link-list" style="width: 100%">
            <p style="width: 100%; text-align: center;">Avenida del Rosal No 89, C.P. 01530, México, D.F.</p>
        </div>  
        <div class="mdl-mini-footer__link-list" style="width: 100%">
            <p style="width: 100%; text-align: center;">Instituto Tecnológico de Álvaro Obregón - Todos los derechos reservados © 2014</p>
        </div>  
               
    
            </footer>