<section class="wrapper style1">
    <div ng-cloak>
   <md-content class="md-padding">
    <form ng-submit="enviar($event)">
        <md-input-container>
           <label for="">Codigo</label>
            <input type="text" ng-model="Codigo" required>
            <div ng-messages="Codigo.$error">
            <div ng-message="required">Falta Nombre</div>
          </div>
        </md-input-container>
       <md-input-container>
           <label for="">Titulo del Libro</label>
            <input type="text" ng-model="Titulo" uppercased required>
        </md-input-container>
        <md-input-container>
            <label for="">Nombre del Autor</label>
            <input type="text" ng-model="Autor" uppercased required>
        </md-input-container>
        <md-input-container>
            <label for="">Clasificación</label>
            <input type="text" ng-model="Clasificacion" uppercased required>
        </md-input-container>
        <md-input-container>
            <label for="">Editorial</label>
            <input type="text" ng-model="Editorial" uppercased required>
        </md-input-container>
        <md-input-container>
            <label for="">Edición</label>
            <input type="text" ng-model="Edicion" uppercased required>
        </md-input-container>
        <md-input-container>
            <label for="">Ejemplares</label>
            <input type="number" ng-model="Ejemplares" required>
        </md-input-container>
        <div class="md-fab md-button">
          <md-tooltip>
            subir una imagen
          </md-tooltip>
          <md-icon ng-style="{color: font.color}" aria-label="backup" class="material-icons step ng-binding md-48" ng-class="it.size" style="color: rgb(170, 0, 0);">
          backup 
        </md-icon>
            
            <input class="imagenes" file-Model="imagenes" type="file"></input>
        </div>
        
        

        
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button type="submit" class="md-raised md-primary">Enviar</md-button>
        </section>
    </form>
  </md-content>
</div>
</section>